{% extends "base.html" %}
{% block title %}Firefly - Change Email{% endblock %}

{% block content %}
<div class="ui center aligned grid SignForm">
<div class="column">
<h2 class="ui blue image header">
    <div class="content">Change Email</div>
</h2>
<form class="ui large form" action="{{url_for('auth.change_email_request')}}" method="POST">
    <div class="ui segment">
    {{form.csrf_token}}
    <div class="field">
        <div class="ui left icon input">
        <i class="envelope icon"></i>
        {{form.email(placeholder='New Email')}}
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
        <i class="lock icon"></i>
        {{form.password(placeholder='Password')}}
        </div>
    </div>
    {{form.submit(class_='ui fluid blue button')}}
    </div>
    {% include "_errors.html" %}
</form>
</div>
</div>
{% endblock %}