{% extends "base.html" %}
{% block title %}Firefly - Change Password{% endblock %}

{% block content %}
<div class="ui center aligned grid SignForm">
<div class="column">
<h2 class="ui blue image header">
    <div class="content">Change Password</div>
</h2>
<form class="ui large form" action="{{url_for('auth.change_password')}}" method="POST">
    <div class="ui segment">
    {{form.csrf_token}}
    <div class="field">
        <div class="ui left icon input">
        <i class="lock icon"></i>
        {{form.old_password(placeholder='Old Password')}}
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
        <i class="lock icon"></i>
        {{form.password(placeholder='New Password')}}
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
        <i class="lock icon"></i>
        {{form.password2(placeholder='Confirm new password')}}
        </div>
    </div>
    {{form.submit(class_='ui fluid blue button')}}
    </div>
    {% include "_errors.html" %}
</form>
</div>
</div>
{% endblock %}