{% extends "base.html" %}
{% block title %}Firefly - Edit Profile{% endblock %}

{% block content %}

<div class="ui form editProfileForm" data-url="{{url_for('api.me', _external=True)}}" data-token={{token}}>
    <h1 class="ui header">{{current_user.username}}</h1>
    <div class="fields">
        <div class="four wide field">
            <h4>Name</h4>
        </div>
        <div class="eight wide field">
            <input type="text" name="name" placeholder="name" value="{{current_user.name|d('', true)}}">
        </div>
        <div class="four wide field">
            <div class="ui button">Save</div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="fields">
        <div class="four wide field">
            <h4>Location</h4>
        </div>
        <div class="eight wide field">
            <input type="text" name="location" placeholder="location" value="{{current_user.location|d('', true)}}">
        </div>
        <div class="four wide field">
            <div class="ui button">Save</div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="fields">
        <div class="four wide field">
            <h4>About me</h4>
        </div>
        <div class="eight wide field">
            <input type="text" name="about_me" placeholder="about me" value="{{current_user.about_me|d('', true)}}">
        </div>
        <div class="four wide field">
            <div class="ui button">Save</div>
        </div>
    </div>

</div>

{% endblock %}

{% inner_script %}
f.edit_profile({{url_for('api.me', _external=True)}}, {{token}})
{% endblock %}
