{% extends "base.html" %}
{% block title %}Firefly - Edit Profile{% endblock %}

{% block content %}
<div class="ui form editProfileForm" user-id="{{current_user.id}}">
  <div class="three fields">
    <div class="field">
      <label>Name</label>
      <input type="text" placeholder="name" name="name"
      value="{{current_user.name|d('', true)}}">
    </div>
    <div class="field">
      <label>Location</label>
      <input type="text" placeholder="location" name="location"
      value="{{current_user.location|d('', true)}}">
    </div>
    <div class="field">
      <label>About me</label>
      <input type="text" placeholder="about me" name="about_me"
      value="{{current_user.about_me|d('', true)}}">
    </div>
  </div>
  <div class="ui submit blue button">Submit</div>
</div>
{% endblock %}

{% block script %}
{{super()}}
<script>
let button = document.querySelector('.editProfileForm .ui.button')
button.addEventListener('click', editProfile)
</script>
{% endblock %}
