.SignForm .column {
    max-width: 450px;
}
.ui.avatar.image {
    width: 1.5em;
    height: 1.5em;
    border-radius: 0;
}
.ui.card.noBorderCard {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.ui.card.noBorderCard > .extra {
    border-top: none !important;
}
.ui.card.noBorderCard > .content {
    border-top: none !important;
}
