<!DOCTYPE html>
<html><head>
    <!-- Standard Meta -->
    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% endblock %}

    <!-- Site Properties -->
    <title>{% block title %}{% endblock %}</title>

    {% block style %}
    <link rel="stylesheet" href="{{url_for('static', filename='semantic.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    {% endblock %}

</head>
<body class="pushable">
    <div class="pusher">

    {% block navbar %}
    <div class="ui large borderless menu">
        <div class="ui container">
        <a class="active item" href="{{url_for('main.index')}}">Home</a>
        <a class="item">Explore</a>
        <a class="item">Toics</a>
        <a class="item">More</a>
        <div class="item">
        <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search link icon"></i>
        </div>
        </div>
        <div class="right menu">
        <div class="item">
            <a class="ui basic black button menuButton" href="{{url_for('main.write')}}" target="_blank">
                <i class="edit icon"></i>Post
            </a>
            <a class="ui basic blue button" href="#">
                <i class="lightbulb icon"></i>Tweet
            </a>
        </div>
        <div class="ui inline pointing dropdown item">
            <img class="ui avatar image"
            src="{{current_user.gravatar(size=18)}}">
            <span>{{current_user.username}}</span>
            <div class="menu">
                <a class="item" href="{{url_for('auth.user', username=current_user.username)}}"><i class="user icon"></i>Profile</a>
                <a class="item"><div class="ui teal label">10</div>Inbox</a>
                <a class="item"><div class="ui yellow label">20</div>Spam</a>
                <a class="item"><div class="ui pink label">30</div>Message</a>
                <a class="item" href="{{url_for('auth.logout')}}"><i class="power off icon"></i>Log Out</a>
            </div>
        </div>
        </div>
        </div>
    </div>
    {% endblock %}

    <div class="ui container pusherContent">
        {% block content %}
        {% endblock %}
    </div>

    </div>

    {% block script %}
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='semantic.min.js')}}"></script>
    <script src="{{url_for('static', filename='lodash.min.js')}}"></script>
    <script src="{{url_for('static', filename='axios.min.js')}}"></script>
    <script src="{{url_for('static', filename='main.js')}}"></script>

    {% if current_user.is_authenticated %}
    <script>
        localStorage.setItem('user:id', '{{current_user.id}}')
        localStorage.setItem('user:email', '{{current_user.email}}')
        if (!('access' in localStorage) && !('refresh' in localStorage)) {
            localStorage.setItem('access', '{{session["access"]}}')
            localStorage.setItem('refresh', '{{session["refresh"]}}')
        }
    </script>
    {% endif %}
    <script>
    initBaseComponents()
    {% for category, message in get_flashed_messages(with_categories=True) %}
    $('body').toast({
        displayTime: 0,
        closeIcon: true,
        class: "{{category|replace('message', 'info')}}",
        message: "{{message}}"
      })
    {% endfor %}
    </script>
    {% endblock %}

</body></html>
