{% extends "base.html" %}
{% block title%}Homepage - Firefly{% endblock %}

{% block content %}
<div class="ui segment">
<div class="ui secondary pointing menu">
    <a class="item active" id="allPosts">All</a>
    <a class="item" id="followingPosts">Following</a>
    <a class="item" id="hotPosts">Hot</a>
    <div class="right item">
    <div class="ui pointing dropdown">
        <span>More</span>
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item">aaa</a>
            <a class="item">bbb</a>
            <a class="item">ccc</a>
        </div>
    </div>
    </div>
</div>
<div class="text" id="ListContent"></div>
</div>


<div class="ui modal">
    <div class="header">
      Profile Picture
    </div>
    <div class="scrolling content">
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
        <p>This is an example of expanded content that will cause the modal's dimmer to scroll</p>
    </div>
    <div class="actions">
      <div class="ui primary approve button">
        Proceed
        <i class="right chevron icon"></i>
      </div>
    </div>
  </div>


{% endblock %}

{% block script %}
{{super()}}
<script>
let all_posts = document.getElementById('allPosts')
let following_posts = document.getElementById('followingPosts')
let hot_posts = document.getElementById('hotPosts')
all_posts.addEventListener('click', initFeedPosts)
following_posts.addEventListener('click', initFollowingPosts)
hot_posts.addEventListener('click', initHotPosts)
document.addEventListener('DOMContentLoaded', initFeedPosts)
window.addEventListener('scroll', _.throttle(getFeedPosts, 300))
</script>
{% endblock %}
