{% extends "base.html" %}
{% block title%}Homepage - Firefly{% endblock %}

{% block content %}
<div class="ui segment">
<div class="ui secondary pointing menu">
    <a class="item active" id="allPosts">All</a>
    <a class="item" id="userFollowers">Following</a>
    <a class="item" id="userFollowing">Hot</a>
    <div class="right item">
    <div class="ui pointing dropdown">
        <span>More</span>
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item">aaa</a>
            <a class="item">bbb</a>
            <a class="item">ccc</a>
        </div>
    </div>
    </div>
</div>
<div class="text" id="ListContent"></div>
<input type="text" value="1111" id="maxPostID" hidden>
</div>
{% endblock %}

{% block script %}
{{super()}}
<script>
$(document).ready()
document.addEventListener('DOMContentLoaded', initFeedPosts)
window.addEventListener('scroll', _.throttle(getFeedPosts, 200))
</script>
{% endblock %}