{% extends "base.html" %}
{% block title%}Homepage - Firefly{% endblock %}

{% block content %}
<div class="ui grid">
<div class="ui eleven wide column">
<div class="ui segment">
<div class="ui secondary pointing menu">
    <a class="item active" id="allPosts">Posts</a>
    <a class="item" id="allTweets">Tweets</a>
    <a class="item" id="hotPosts">Hot</a>
    <div class="right item">
    <div class="ui pointing dropdown">
        <span>More</span>
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item">aaa</a>
            <a class="item">bbb</a>
            <a class="item">ccc</a>
        </div>
    </div>
    </div>
</div>
<div class="text" id="ListContent"></div>
</div>
</div>
<div class="five wide column">
<div class="ui segment">
    sidebar
</div>
</div>
</div>

{% include "_modals.html" %}

{% endblock %}

{% block script %}
{{super()}}
<script>
let all_posts = document.getElementById('allPosts')
let all_tweets = document.getElementById('allTweets')
all_posts.addEventListener('click', initFeedPosts)
all_tweets.addEventListener('click', initFeedTweets)
document.addEventListener('DOMContentLoaded', initFeedPosts)
</script>
{% endblock %}
